In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
data_df = pd.read_csv('mobil.csv',error_bad_lines=False)
data_df.head()

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 3: expected 1 fields, saw 2\nSkipping line 4: expected 1 fields, saw 2\nSkipping line 5: expected 1 fields, saw 2\nSkipping line 6: expected 1 fields, saw 2\nSkipping line 7: expected 1 fields, saw 2\nSkipping line 8: expected 1 fields, saw 2\nSkipping line 9: expected 1 fields, saw 2\nSkipping line 10: expected 1 fields, saw 3\nSkipping line 11: expected 1 fields, saw 2\nSkipping line 12: expected 1 fields, saw 2\nSkipping line 13: expected 1 fields, saw 2\nSkipping line 14: expected 1 fields, saw 2\nSkipping line 15: expected 1 fields, saw 2\nSkipping line 17: expected 1 fields, saw 3\nSkipping line 18: expected 1 fields, saw 2\nSkipping line 19: expected 1 fields, saw 3\nSkipping line 21: expected 1 fields, saw 3\nSkipping line 22: expected 1 fields, saw 3\nSkipping line 23: expected 1 fields, saw 2\nSkipping line 27: expected 1 fields, saw 2\nSkipping line 28: expected 1 fields, saw 2\nSkipping line 30: expected 1 fields, saw 3\nSkipping line 32: expected 1 fields, saw 2\nSkipping line 33: expected 1 fields, saw 2\nSkipping line 34: expected 1 fields, saw 2\nSkipping line 35: expected 1 fields, saw 2\nSkipping line 37: expected 1 fields, saw 3\nSkipping line 38: expected 1 fields, saw 2\nSkipping line 40: expected 1 fields, saw 2\nSkipping line 41: expected 1 fields, saw 2\nSkipping line 42: expected 1 fields, saw 3\nSkipping line 43: expected 1 fields, saw 2\nSkipping line 44: expected 1 fields, saw 2\nSkipping line 46: expected 1 fields, saw 2\nSkipping line 48: expected 1 fields, saw 3\nSkipping line 50: expected 1 fields, saw 2\nSkipping line 51: expected 1 fields, saw 2\nSkipping line 54: expected 1 fields, saw 2\nSkipping line 56: expected 1 fields, saw 2\nSkipping line 59: expected 1 fields, saw 2\nSkipping line 61: expected 1 fields, saw 2\nSkipping line 62: expected 1 fields, saw 3\nSkipping line 64: expected 1 fields, saw 2\nSkipping line 67: expected 1 fields, saw 3\nSkipping line 68: expected 1 fields, saw 2\nSkipping line 70: expected 1 fields, saw 2\nSkipping line 71: expected 1 fields, saw 2\nSkipping line 72: expected 1 fields, saw 3\nSkipping line 74: expected 1 fields, saw 2\nSkipping line 75: expected 1 fields, saw 3\nSkipping line 76: expected 1 fields, saw 2\nSkipping line 77: expected 1 fields, saw 2\nSkipping line 78: expected 1 fields, saw 2\nSkipping line 80: expected 1 fields, saw 2\nSkipping line 82: expected 1 fields, saw 3\nSkipping line 83: expected 1 fields, saw 3\nSkipping line 87: expected 1 fields, saw 2\nSkipping line 89: expected 1 fields, saw 2\nSkipping line 91: expected 1 fields, saw 3\nSkipping line 92: expected 1 fields, saw 2\nSkipping line 96: expected 1 fields, saw 2\nSkipping line 97: expected 1 fields, saw 3\nSkipping line 98: expected 1 fields, saw 2\nSkipping line 99: expected 1 fields, saw 2\nSkipping line 100: expected 1 fields, saw 2\nSkipping line 101: expected 1 fields, saw 2\nSkipping line 102: expected 1 fields, saw 2\nSkipping line 103: expected 1 fields, saw 2\nSkipping line 104: expected 1 fields, saw 3\nSkipping line 112: expected 1 fields, saw 2\nSkipping line 126: expected 1 fields, saw 3\nSkipping line 127: expected 1 fields, saw 2\nSkipping line 128: expected 1 fields, saw 2\nSkipping line 129: expected 1 fields, saw 2\nSkipping line 130: expected 1 fields, saw 2\nSkipping line 131: expected 1 fields, saw 3\nSkipping line 132: expected 1 fields, saw 3\nSkipping line 133: expected 1 fields, saw 3\nSkipping line 134: expected 1 fields, saw 3\nSkipping line 135: expected 1 fields, saw 3\nSkipping line 136: expected 1 fields, saw 3\nSkipping line 137: expected 1 fields, saw 3\nSkipping line 138: expected 1 fields, saw 2\nSkipping line 139: expected 1 fields, saw 3\nSkipping line 140: expected 1 fields, saw 2\nSkipping line 141: expected 1 fields, saw 2\nSkipping line 144: expected 1 fields, saw 2\nSkipping line 145: expected 1 fields, saw 2\nSkipping line 146: expected 1 fields, saw 2\nSkipping line 147: expected 1 fields, saw 2\nSkipping line 148: expected 1 fields, saw 2\nSkipping line 149: expected 1 fields, saw 2\nSkipping line 150: expected 1 fields, saw 2\nSkipping line 151: expected 1 fields, saw 2\nSkipping line 152: expected 1 fields, saw 2\nSkipping line 154: expected 1 fields, saw 2\nSkipping line 155: expected 1 fields, saw 2\nSkipping line 156: expected 1 fields, saw 2\nSkipping line 159: expected 1 fields, saw 2\nSkipping line 162: expected 1 fields, saw 2\nSkipping line 163: expected 1 fields, saw 2\nSkipping line 164: expected 1 fields, saw 2\nSkipping line 165: expected 1 fields, saw 2\nSkipping line 169: expected 1 fields, saw 2\nSkipping line 170: expected 1 fields, saw 2\nSkipping line 172: expected 1 fields, saw 2\nSkipping line 174: expected 1 fields, saw 2\nSkipping line 176: expected 1 fields, saw 2\nSkipping line 177: expected 1 fields, saw 2\nSkipping line 186: expected 1 fields, saw 2\nSkipping line 192: expected 1 fields, saw 2\nSkipping line 194: expected 1 fields, saw 2\nSkipping line 195: expected 1 fields, saw 2\nSkipping line 196: expected 1 fields, saw 2\nSkipping line 202: expected 1 fields, saw 2\nSkipping line 203: expected 1 fields, saw 2\nSkipping line 205: expected 1 fields, saw 2\nSkipping line 206: expected 1 fields, saw 2\nSkipping line 208: expected 1 fields, saw 2\nSkipping line 211: expected 1 fields, saw 2\nSkipping line 213: expected 1 fields, saw 3\nSkipping line 215: expected 1 fields, saw 2\nSkipping line 223: expected 1 fields, saw 2\nSkipping line 230: expected 1 fields, saw 2\nSkipping line 231: expected 1 fields, saw 2\nSkipping line 234: expected 1 fields, saw 2\nSkipping line 243: expected 1 fields, saw 2\nSkipping line 246: expected 1 fields, saw 2\nSkipping line 248: expected 1 fields, saw 3\nSkipping line 249: expected 1 fields, saw 2\nSkipping line 254: expected 1 fields, saw 2\nSkipping line 263: expected 1 fields, saw 2\nSkipping line 268: expected 1 fields, saw 2\nSkipping line 278: expected 1 fields, saw 2\nSkipping line 285: expected 1 fields, saw 2\nSkipping line 288: expected 1 fields, saw 2\nSkipping line 289: expected 1 fields, saw 2\nSkipping line 296: expected 1 fields, saw 2\n'

  CarName;Year;SellingPrice;PresentPrice;KmsDriven;FuelType;SellerType;Transmission;Owner
0  ritz;2014;03.35;05.59;27000;Petrol;Dealer;Manu...
1  dzire;2009;02.25;07.21;77427;Petrol;Dealer;Man...
2  wagon r;2015;03.25;05.09;35500;CNG;Dealer;Manu...
3  sx4;2011;04.04;08.01;50000;Petrol;Dealer;Autom...
4  alto k10;2014;02.05;03.46;45280;Petrol;Dealer;...

In [3]:
data_df.describe()

       CarName;Year;SellingPrice;PresentPrice;KmsDriven;FuelType;SellerType;Transmission;Owner
count                                                 163
unique                                                162
top     fortuner;2015;23;30.61;40000;Diesel;Dealer;Aut...
freq                                                    2

In [4]:
plt.hist(data_df['CarName'])
plt.show()

KeyError: 'CarName'